name: setup-gcloud Unit

on:
  push:
    paths:
    - 'setup-gcloud/**'
  pull_request:
    paths:
    - 'setup-gcloud/**'

jobs:
  run:
    name: setup-gcloud
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2

    - name: Set Node.js 10.x
      uses: actions/setup-node@master
      with:
        node-version: 10.x

    - name: npm install
      working-directory: ./setup-gcloud
      run: npm install

    - name: Lint
      working-directory: ./setup-gcloud
      run: npm run lint

    - name: Unit tests
      working-directory: ./setup-gcloud
      run: npm test
